body {
  background-color: 4C83CC;
  color: #ABCFFF;
  font-family: Garamond;

}

header {
  background-color: #56687F;
  border: 0.02em solid black;
  font-size: 5em;
  margin: 0.2em;
  width: 100%em ;
  height: 2em;
  right: 5em  ;

}


#WG {
  text-align: center;
  margin-top:0.5em;
}

.nav {
  background-color: #56687F;
  left: 1em ;
  margin: 1em;
  border: 0.1em solid black;


}
.nav p {
  display: inline-block;
  margin: .5em .5em .5em 5em;
  width: 10em;

}

a {
  text-decoration: none;

}

a:visited {
  color: black;
}

a:hover {
  background-color: white;

}

#Page {
  position: absolute;
  height: 2em;
  width: 10em;
  left: 1.5em;
  top: 15em;
  background-color: #56687F;
  border: 0.1em solid black;
}

#Page p {
  position: absolute;
  top:-.5em;
  left: 1em;
}

#Cultural {
  position: absolute;
  float: left;
  margin: 1em;
  left: 20em;
  border: 3px solid black;
  list-style-type: upper-roman;
  height: 20em;
  width: 20em;
  background-color: #56687F
}

#Technical {
  position: absolute;
  float: right;
  margin: 1em;
  right: 20em;
  border: 3px solid black;
  list-style-type: upper-roman;
  height: 20em;
  width: 20em;
  background-color: #56687F
}

ol li {
  font-size: 20px;
  margin-top: 1em;
}


aside {
  position: absolute;
  border: 1px solid black;
  right: 1.5em  ;
}

aside div {
  background-color: #56687F;
  padding: 0.2em;
  border: 0.1em solid black;
}

footer {
  color: black;
  display: inline;
  position: fixed;
  background-color: white;
  padding: 0.1em 0.1em;
  bottom: 0.5em;
  border: 0.1em solid black;
}